@model IEnumerable<FootballManager.Domain.Match>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MatchDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstTeamScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondTeamScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatchStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResultType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatchDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstTeamScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondTeamScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatchStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResultType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MatchId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MatchId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MatchId })
        </td>
    </tr>
}

</table>
