@model IEnumerable<TournamentViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TournamentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostCountryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDate)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Host.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @Ajax.ActionLink("Delete", "Delete", new { @id = item.TournamentId }, new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "tournamentList"
                })
                @*<a href="@Url.Action("Delete", new { @id = item.TournamentId })"><span class="glyphicon glyphicon-remove-circle"></span></a>*@
            </td>
        </tr>
    }
</table>