@using FootballManager.Web.Extensions
@model IEnumerable<TournamentViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostCountryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDate)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Xeditable(new XeditableOptions
                {
                    Pk = item.TournamentId.ToString(),
                    Value = item.Name,
                    Type = XeditableType.Text
                })
            </td>
            <td>
                @Html.Xeditable(new XeditableOptions
                {
                    Pk = item.TournamentId.ToString(),
                    Value = item.Year.ToString(),
                    Type = XeditableType.Text
                })
            </td>
            <td>
                @Html.Xeditable(new XeditableOptions
                {
                    Pk = item.TournamentId.ToString(),
                    Value = item.Host?.Name,
                    Type = XeditableType.Select2
                })
            </td>
            <td>
                @Html.Xeditable(new XeditableOptions
                {
                    Pk = item.TournamentId.ToString(),
                    Value = item.FromDate.Format(),
                    Type = XeditableType.Text
                })
            </td>
            <td>
                @Html.Xeditable(new XeditableOptions
                {
                    Pk = item.TournamentId.ToString(),
                    Value = item.ToDate.Format(),
                    Type = XeditableType.Text
                })
            </td>
            <td>
                @Ajax.ActionLink("Delete", "Delete", new { @id = item.TournamentId }, new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "tournamentList"
                })
                @*<a href="@Url.Action("Delete", new { @id = item.TournamentId })"><span class="glyphicon glyphicon-remove-circle"></span></a>*@
            </td>
        </tr>
    }
</table>